// package textractparser

// import (
// 	"reflect"
// 	"testing"

// 	"github.com/aws/aws-sdk-go/service/textract"
// )

// func TestNewDocument(t *testing.T) {
// 	type args struct {
// 		response *textract.AnalyzeDocumentOutput
// 	}
// 	tests := []struct {
// 		name string
// 		args args
// 		want *Document
// 	}{
// 		// write your test case here....
// 	}

// 	for _, tt := range tests {
// 		t.Run(tt.name, func(t *testing.T) {
// 			if got := NewDocument(tt.args.response); !reflect.DeepEqual(got, tt.want) {
// 				t.Errorf("NewDocument() = %v, want %v", got, tt.want)
// 			}
// 		})
// 	}
// }